.ticket-container {
  width: 95%;
  min-height: 85vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .ticket-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
