.nav-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
  height: 70%;

  .nav-bar__link {
    display: flex;
    justify-content: center;
    height: 80%;
    width: 30%;
    font-size: max(1.5vh, 1.5vw);
    padding: 5px auto;
    align-items: center;
    background-color: rgb(228, 236, 243);
    border: 2px solid black;
    border-radius: 5px;
    color: black;
  }
}

@media screen and (min-width: 768px) {
  .nav-bar {
    .nav-bar__link {
      width: 25%;
    }
  }
}
