.counter-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 5% auto;
  border: 2px solid black;
  padding: 1%;
  border-radius: 5px;

  .counter-display__count-number {
    margin: 20px;
  }

  .counter-display__button-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;

    .counter-display__button {
      font-size: 2rem;
      background-color: transparent;
    }
  }
}

@media screen and (min-width: 768px) {
  .counter-display {
    .counter-display__button-container {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-around;

      .counter-display__button {
        font-size: 1.5rem;
        background-color: transparent;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .employee-card {
    width: 18%;
    margin: 0px 10px;
  }
}
