.employee-card {
  background-color: #c4c4c4;
  width: min(80vw, 50vh);
  height: max(40vh, 40vw);
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid black;

  img {
    height: 60%;
    max-height: 60%;
    width: 60%;
    max-width: 0%;
    align-self: center;
  }

  .employee-card__employee-data {
    font-size: 1.1rem;
  }

  .employee-card__tech-list-container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    justify-content: space-around;
    padding-top: 10px;

    .employee-card__tech-list-item {
      margin: 5px;
      // background-color: lighten(#c4c4c4, 10%);
      padding: 5px;
    }
  }
}

@media screen and (min-width: 768px) {
  .employee-card {
    width: 30%;
    margin: 10px 10px;
    .employee-card__employee-data {
      font-size: 0.9rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .employee-card {
    width: 20%;
    margin: 10px 10px;
  }
}
